<md-grid-list cols="6" rowHeight="200px" *ngIf="listing">
  <md-grid-tile 
    [colspan]="3" 
    [rowspan]="3">
    <img src="" alt="" height="80%" >
  </md-grid-tile>
  <md-grid-tile 
    [colspan]="3" 
    [rowspan]="2" 
    [style.background]="'lightgreen'">
    Description
    {{ listing.description }}
  </md-grid-tile>
  <md-grid-tile 
    [colspan]="3" 
    [rowspan]="1" 
    [style.background]="'lightpink'">
    Size/Quantity Options/Add to cart.
    <button md-button>
      <md-icon>add_shopping_cart</md-icon>
    </button>
    <button md-button>
      <md-icon>cached</md-icon>
    </button>
  </md-grid-tile>
</md-grid-list>
