.defaultBar {
    background-image: url('../assets/anvil.jpg');
    background-position: 50% 24%, center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


ul.footerLinks li {
    display: inline;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    padding: 0.3rem;
    margin-top: 10%;
    text-align: center;
}