<md-toolbar>
  <span>Country Lead Works</span>
  
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  
  <button md-button [routerLink]="['']" routerLinkActive="active">Home</button>
  <button md-button [routerLink]=" ['./about']">About Us</button>
  
  <button md-button>Shipping</button>
  <button md-button>Return Policy</button>
  <button md-icon-button (click)="showCart()">
    <md-icon>shopping_cart</md-icon>
  </button>
</md-toolbar>

<div class="searchContainer">
  <md-toolbar>
    <button md-button [mdMenuTriggerFor]="menu">Sections</button>
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngFor="let section of sections">{{ section.title }}</button>
    </md-menu>
    <md-input-container>
      <input type="search" mdInput placeholder="search">
    </md-input-container>
  </md-toolbar>
</div>

<main class="routerContainer">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; Country Lead Works</p>
</footer>