<md-toolbar>
  <span>Country Lead Works</span>

  
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  
  <button md-button [routerLink]="['']" routerLinkActive="active">Home</button>
  <button md-button [routerLink]="['./listings']">New Items</button>
  <button md-button [routerLink]=" ['./product']">Shop</button>
  <button md-button>About Us</button>
  <button md-button>Shipping</button>
  <button md-button>Return Policy</button>
  <button md-icon-button (click)="showCart()">
    <md-icon>shopping_cart</md-icon>
  </button>
</md-toolbar>

<md-grid-list cols="4" rowHeight="50px">
  <md-grid-tile
      [colspan]="4"
      [rowspan]="4">
    <div class="defaultBar"></div>
  </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>

<ul class="footerLinks">
  <li>&copy; 2017</li>
  <li>Country Lead Works</li>
</ul>