<div class="productContainer">
  <md-card class="product-card" *ngFor="let listing of listings">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{ listing.title }}</md-card-title>
      <md-card-subtitle>{{ listing.category_id }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/bullets.jpg">
    <md-card-content>
      <p>
        {{ listing.description }}
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]=" ['detail/', listing.listing_id] ">Details</button>
      <button md-button (click)="updateShoppingCart(listing)">
        {{ listing.price }}
        <md-icon>add_shopping_cart</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>
