<div class="productContainer">
  <md-card class="product-card" *ngFor="let product of products">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{ product.name}}</md-card-title>
      <md-card-subtitle>{{ product.category }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/bullets.jpg">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Id mihi magnum videtur. A primo, ut opinor, animantium ortu petitur origo summi boni. 
        Duo Reges: constructio interrete. Stoicos roga. Quae cum magnifice primo dici viderentur, considerata minus probabantur. 
        Hoc unum Aristo tenuit: praeter vitia atque virtutes negavit rem esse ullam aut fugiendam aut expetendam. 
        Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Duo enim genera quae erant, fecit tria.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]=" ['detail/', product.id] ">Details</button>
      <button md-button (click)="updateShoppingCart(product)">
        {{ product.price }}
        <md-icon>add_shopping_cart</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>
