<div class="productContainer">
  <md-card class="product-card" *ngFor="let product of products">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{ product.title }}</md-card-title>
    </md-card-header>
    <img md-card-image src="assets/bullets.jpg">
    <md-card-actions>
      <button md-button [routerLink]="['/product/details', product.listing_id ]">Details</button>
      <button md-button (click)="updateShoppingCart(product)">
        {{ product.price | currency:'USD':true }}
        <md-icon>add_shopping_cart</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>